<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @article.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @article.email %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
